<!DOCTYPE HTML>
<html>
  <head>
    <title>Vines - Login
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <h1>Welcome Back!
          </h1>
          <h4>Let's get back to work
          </h4>
          <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
          <form action="" method="POST">
            {{ form.csrf_token() }}
            <label class="form-label">Username:
            </label>
            {{ form.username(class="form-control", placeholder="JohnDoe01") }}
            <label class="form-label mt-1">Password:
            </label>
            {{ form.password(class="form-control", placeholder="********") }}
            {{ form.submit(class="btn btn-primary mt-3") }}
          </form>
          <h6 class="mt-5 text-center">Don't Have an Account?
            <a href="{{ url_for('signup') }}">Sign Up!
            </a>
          </h6>
        </div>
      </div>
    </div>
  </body>
</html>
